@use "../custom" as *;
@use "../components/mixins" as *;
header{
  position: relative;
}
.menu {
  padding: 0rem;
  
  @include gradient;
  li {
    padding: 0 0.6rem;
    a {
      color: $white !important;
      text-transform: capitalize;
      font-weight: 600;

      &:hover {
      
      text-decoration: overline;
    }
    }
  }
  img {
    padding: 0;
    height: 80px;
    margin: 0;
    // position: absolute;

    &:hover {
      
      animation: scaler 4s linear ;
    }
  }
}
